!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Hlibrary
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body.text-xl
    - if current_user.blank?
      = render partial: 'layouts/nav'
    - elsif current_user.admin?
      = render partial: 'layouts/admin_nav'
    - else
      = render partial: 'layouts/user_nav'
    .page.bg-blue.p-8
      = yield

    - if true
      .acc-switcher
        - User.all.each do |u|
          = link_to u.name, switch_switch_path(id: u), class: "nav-item block user-switch pull-left #{(current_user== u ? 'black' : '')}"
        .clearfix
